#title {
  border-bottom: none;
  margin-top: -20px;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.report-container {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  .id-box {
    width: 200px;
    height: 70px;
    background: #dfdfdf;
    font-size: 30px;
    text-align: center;
    padding-top: 13px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
  }
}