#title {
  border-bottom: none;
  margin-top: -20px;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.saveBtn {
  width: 200px;
  height: 70px;
  background: #4393B9;
  font-size: 30px;
  text-align: center;
  padding-top: 13px;
  margin: 10px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.backBtn {
  background: #F5F5F5;
  color: #000;
  width: 90px;
  height: 90px;
  float: left;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  padding-top: 34px;
}

.report-container {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  .id-box {
    width: 200px;
    height: 70px;
    background: #dfdfdf;
    font-size: 30px;
    text-align: center;
    padding-top: 13px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
  }
}