#employees-title {
  border-bottom: none;
  margin-top: -20px;

  .container {
    h1 {
      font-size: 60px;
      line-height: 1;
      letter-spacing: -1px;
      width: 300px;
      display: inline-block;
    }

    .monthSelect {
      width: 230px;
    }

    .yearSelect {
      width: 190px;
    }

    .monthSelect, .yearSelect {
      direction: rtl;
      height: 60px;
      position: relative;
      top: 0px;
      background-color: transparent;
      display: inline-block;
      font-size: 50px;
      line-height: 1;
      border: 0;
      option {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}

.backBtn {
  background: #F5F5F5;
  color: #000;
  width: 90px;
  height: 90px;
  float: left;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  padding-top: 34px;
}

.actions-container {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  .action-btn {
    width: 200px;
    height: 70px;
    background: #4393B9;
    font-size: 30px;
    text-align: center;
    padding-top: 13px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;

    &.save {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    &.select {
      width: 400px;
    }
  }
}

.report-container {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  .id-box {
    width: 200px;
    height: 70px;
    background: #dfdfdf;
    font-size: 30px;
    text-align: center;
    padding-top: 13px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
  }
}